<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	  <!--192.168.20.229 DataSpider-->
	  <add key="SQL_Connectionstring"  value="33kYPWJ9afkjT3hTq/uRxipHADa0BxIUxfznN6czOrn1RAS79K3Uruo4ChAAtR5TCl0fzwUB6MF2nPkcpoRKRgHGE41fvHo2Xrry8AhOhqBLhEpR/ht85XTmOGVEUuciu8qc9mMobAnQK+tT2RHpGcafRAiE9MTj+1vv7tDkYzI5ZZUh1M1sGZrZVECnq5pMmUOqHc/jzCWGi/0lPBJCLbCIRWWZogbPMGV3rZreCQqND9/6rN51EQ5jvA5L6f/kAKZ8hNsOUo333As03aeLzdMppX9mZLWV2h9KYr6N8a/ru3l/jvUL1obqVJ2102l6"/>

	  <!--192.168.0.148 DataSpider-->
    <!--<add key="SQL_Connectionstring" value="33kYPWJ9afkjT3hTq/uRxipHADa0BxIUxfznN6czOrnTczZZbcJx2CLWZ5OgFvAPD+yujkAUmEcgQ7XA5XejcvaDQ632HIm8WAgR9i3R7QDN4fGR9aiqSyxu44F5vj/MsVDrBzA36HD3ZfwqjTaHGfHFn1BsEyK4cRSaA7zxbXDDiIr1Wil3wjkH2weGn2eclE4jzmBFwWXna0uBgjQrC14whIp61/Njx4aKnBfpSJEQujv1wEFDeokswk/DVuWYWvXCLDw18JEcJ8H9+Gjhe4vt7nZiMnOW0bdD3djKOC/jzZ7jbFeztuTNi5ejs+jy"/>-->

    <!--127.0.0.1-->
    <!--<add key="SQL_ConnectionString" value="33kYPWJ9afkjT3hTq/uRxhcy9dRL6RV84lagLEoRqCm6xhXpJ/dWvA38nCfxwpxxZIPappceU24D4KxQhm99eLDHO8p0yRhD5BuH2eiBBMGP8XMBhKzgCheKRhT2iVdZ5FvJaiuhzcRcjOD9dbjBldWs2AB8RgIqmSptReRIyBct7nCzY3QMHsV6my9S24UR6+OAKmV8O/pB7d9ELRGWYkZbUzYCEmzu3gD8LIuPVDc="/>-->
	  <!--192.168.20.229-->
	  <!--<add key="SQL_Connectionstring" value="33kYPWJ9afkjT3hTq/uRxvxT4WjUWIaK6uGE7xVOkmeQ7r/4+QJHocUp4hEwbeOfwCJo9in8VJFZZquor7rELN1NZtLXYMUWjAeVc1DNZV6+XlHA3b6ATz8Wz6wGfc38nGk6uBIgeht+jnNcpVtX4JGFcs8XQfiKA8ypQ+ZAi8rXCjcD8FswjTxHqeI11Li/UtG9saBvLdjuFLDBbjQwpAMdPTQcNNG1Hv0PUeOBtV0IRyiVYaROKzYh2FeQEwQ9JJuqZAmLX40febh5w9X1sA=="/>-->
	  <!--192.168.20.8-->
	  <!--<add key="SQL_Connectionstring" value="33kYPWJ9afkjT3hTq/uRxvxT4WjUWIaK6uGE7xVOkmeQ7r/4+QJHocUp4hEwbeOfFvlh0B17gO4zGgwOMD1Q6nCUdOEB3gpX+LUXOE55SyGoHZcSyMR0P9ijk65oKtHCCdNCpykkq2iiuGkR6GvPPf9OKv7EA5sl5/+IgxrYsGXd8a4+a9NNkz8AA0ejC2UWBpVogxQQ9XJY5SBozpIbFZk+kQkL5xOa1DND5mJit4eS7g4Z69RQ0mOuTvZSpftwjxWqXhyPQkwKf1Y0bmycPw=="/>-->
	  <!--<add key="DataFilePath" value="D:\Project\20201229_콘웰_삼성바이오로직스_EquipmentMiddlewareInterface\11. 소스\DataSpider\bin\Debug\Data"/>-->
    <!--<add key="DataFilePath" value="D:\Project\20201229_콘웰_삼성바이오로직스_EquipmentMiddlewareInterface\20. SVN\02.Source\EXE\DataSpider.PC01.PT\Data"/>-->
    <add key="DB_IP" value="127.0.0.1"/>
    <add key="EQUIP_TYPE" value="01"/>
	<!--<add key="PI_SERVER" value="192.168.38.250"/>-->
	<add key="PI_SERVER" value="192.168.20.229"/>
	<add key="PI_DB" value="11Database1"/>
	<add key="PI_USER" value="1Administrator"/>
	<add key="PI_PWD" value="1conwell1!"/>
    <add key="LOG_PATH" value=".\LOG\"/>
    <add key="LOG_SAVE_DAYS" value="90"/> 
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
