<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	  
	<!--192.168.20.229 DataSpider DEV. DB Server "Data Source=192.168.20.229;Initial Catalog=DataSpider;Persist Security Info=True;User ID=SBLADMIN;Password=SBLADMIN#01"-->
	<!--<add key="SQL_Connectionstring"  value="33kYPWJ9afkjT3hTq/uRxipHADa0BxIUxfznN6czOrn1RAS79K3Uruo4ChAAtR5TCl0fzwUB6MF2nPkcpoRKRgHGE41fvHo2Xrry8AhOhqBLhEpR/ht85XTmOGVEUuciu8qc9mMobAnQK+tT2RHpGcafRAiE9MTj+1vv7tDkYzI5ZZUh1M1sGZrZVECnq5pMmUOqHc/jzCWGi/0lPBJCLbCIRWWZogbPMGV3rZreCQqND9/6rN51EQ5jvA5L6f/kAKZ8hNsOUo333As03aeLzdMppX9mZLWV2h9KYr6N8a/ru3l/jvUL1obqVJ2102l6"/>-->
	<!--127.0.0.1 DataSpider Local DB Server "Data Source=127.0.0.1;Initial Catalog=DataSpider;Persist Security Info=True;User ID=SBLADMIN;Password=SBLADMIN#01"-->
	<add key="SQL_Connectionstring"  value="33kYPWJ9afkjT3hTq/uRxhcy9dRL6RV84lagLEoRqCmuDpU2aFbTWDxdVUiL1nWP6zmXP/hERJOEmCJbym6j/EI8GaV2oJ8x/xBqnbwG/yTx60F8yKBVG7tDHTO4SNIa/HmRb8IKb1sVGTCPTS79NjcrnLyrIg1HpM839bHDk8U74DVwX5wwh6L5IUMn8de6blV8ofHVeykPoWU/58U2jAg6bnji//nijRSmuhkOzSgpI/1211m5GX5duTCsOKGzEZO3YDKHtxA2ukaaHmbcIq9oGYUzsccOqzTUfq8FJd7o80oyrYfEDwKmWOeLv4mM"/>

    <add key="DB_IP" value="127.0.0.1"/>
    <add key="EQUIP_TYPE" value="01"/>
	<!--<add key="PI_SERVER" value="192.168.38.250"/>-->
	<!--<add key="PI_SERVER" value="192.168.20.229"/>-->
	<add key="PI_SERVER" value="P4-PIHS"/>
	<add key="PI_USER" value="P4PIHS\Administrator"/>
	<add key="PI_PWD" value="P@ssw0rd"/>
	<add key="PI_DB" value="MES_Development"/>

	<add key="LOG_PATH" value=".\LOG\"/>
    <add key="LOG_SAVE_DAYS" value="90"/> 
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

	  <!--AFDataBase-->
	  <!--GUID or Index or PI Server IP or PI Server Name-->
	  <add key="AF_ServerName" value="192.168.20.239"/>
	  <!--GUID or Index or Name-->
	  <add key="AF_DatabaseName" value="PIS Process"/>
	  <!--Windows Account-->
	  <add key="AF_UserName" value="administrator"/>
	  <!--Windows Account Password-->
	  <add key="AF_Password" value="conwell1!"/>
	  <add key="AF_Domain" value=""/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
