<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <!--connectionString="Data Source=192.168.20.198;Initial Catalog=Cedex;Persist Security Info=True;User ID=cedexuser;Password=rFeEaqc9IBx7"-->
  <connectionStrings>
    <add name="DataSpider.PC01.PT.Properties.Settings.CedexConnectionString"
      connectionString="Data Source=127.0.0.1;Initial Catalog=Cedex;Persist Security Info=True;User ID=cedexuser;Password=rFeEaqc9IBx7"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>

    <!--192.168.20.229 DataSpider-->
    <!--<add key="SQL_Connectionstring"  value="33kYPWJ9afkjT3hTq/uRxipHADa0BxIUxfznN6czOrn1RAS79K3Uruo4ChAAtR5TCl0fzwUB6MF2nPkcpoRKRgHGE41fvHo2Xrry8AhOhqBLhEpR/ht85XTmOGVEUuciu8qc9mMobAnQK+tT2RHpGcafRAiE9MTj+1vv7tDkYzI5ZZUh1M1sGZrZVECnq5pMmUOqHc/jzCWGi/0lPBJCLbCIRWWZogbPMGV3rZreCQqND9/6rN51EQ5jvA5L6f/kAKZ8hNsOUo333As03aeLzdMppX9mZLWV2h9KYr6N8a/ru3l/jvUL1obqVJ2102l6"/>-->

    <!--192.168.0.148 DataSpider-->
    <!--<add key="SQL_Connectionstring" value="33kYPWJ9afkjT3hTq/uRxipHADa0BxIUxfznN6czOrnTczZZbcJx2CLWZ5OgFvAPD+yujkAUmEcgQ7XA5XejcvaDQ632HIm8WAgR9i3R7QDN4fGR9aiqSyxu44F5vj/MsVDrBzA36HD3ZfwqjTaHGfHFn1BsEyK4cRSaA7zxbXDDiIr1Wil3wjkH2weGn2eclE4jzmBFwWXna0uBgjQrC14whIp61/Njx4aKnBfpSJEQujv1wEFDeokswk/DVuWYWvXCLDw18JEcJ8H9+Gjhe4vt7nZiMnOW0bdD3djKOC/jzZ7jbFeztuTNi5ejs+jy"/>-->

    <!-- Data Source=127.0.0.1,1433;Initial Catalog=DataSpider;User ID=SBLADMIN;Password=SBLADMIN#01; -->
	<add key="SQL_Connectionstring" value="33kYPWJ9afkjT3hTq/uRxhcy9dRL6RV84lagLEoRqCm6xhXpJ/dWvA38nCfxwpxxZIPappceU24D4KxQhm99eLDHO8p0yRhD5BuH2eiBBMFQV+qeeNUl11/XusPPsy/DDqI9/epha1xJC0gnVVycFUPYC4U1gVhOf/ZHWjWOiLwnxI8db110OQDSVQcja5NlPe/CQPdOri7B0Ci1xbJye2DvjuLgT6ekN+F1LGed0iQR0ansdAdDwm5vV0/Ffx/+"/>


	  <!--127.0.0.1-->
    <!--<add key="SQL_Connectionstring" value="33kYPWJ9afkjT3hTq/uRxipHADa0BxIUxfznN6czOrn1RAS79K3Uruo4ChAAtR5TCl0fzwUB6MF2nPkcpoRKRgHGE41fvHo2Xrry8AhOhqBNnTYexrmYnT6E0drmaF7EHg6XtpkkxxOgYAXni7XQ687c9k9ir97Xt4Iszbzu34fDSLjtORCXHaYM4PgwSzWmhy660Sc68tJK0KgNbzm/VKuNuQ0e2cGGugV1xrQLRN2YlTEnfwp8JgISszlfz8ylMxjeU+EkPC19xOY5rRx06qiclKzniknypCMG+LdTftE="/>-->

    <!--<add key="SQL_Connectionstring" value="33kYPWJ9afkjT3hTq/uRxhcy9dRL6RV84lagLEoRqCm6xhXpJ/dWvA38nCfxwpxxZIPappceU24D4KxQhm99eLDHO8p0yRhD5BuH2eiBBMGP8XMBhKzgCheKRhT2iVdZ5FvJaiuhzcRcjOD9dbjBldWs2AB8RgIqmSptReRIyBct7nCzY3QMHsV6my9S24UR6+OAKmV8O/pB7d9ELRGWYkZbUzYCEmzu3gD8LIuPVDc="/>-->
    <!--192.168.20.229-->
    <!--<add key="SQL_Connectionstring" value="33kYPWJ9afkjT3hTq/uRxvxT4WjUWIaK6uGE7xVOkmeQ7r/4+QJHocUp4hEwbeOfwCJo9in8VJFZZquor7rELN1NZtLXYMUWjAeVc1DNZV6+XlHA3b6ATz8Wz6wGfc38nGk6uBIgeht+jnNcpVtX4JGFcs8XQfiKA8ypQ+ZAi8rXCjcD8FswjTxHqeI11Li/UtG9saBvLdjuFLDBbjQwpAMdPTQcNNG1Hv0PUeOBtV0IRyiVYaROKzYh2FeQEwQ9JJuqZAmLX40febh5w9X1sA=="/>-->
	<!--192.168.20.8-->
    <!--<add key="SQL_Connectionstring" value="33kYPWJ9afkjT3hTq/uRxipHADa0BxIUxfznN6czOrmdDzufwnn/DPk3c+mry2eAxiUb5HQ0rqapM92kAvXFqGwj2ZgA/9hqsrJPbwDaqlviZD4bReDYri8gYajOEyWfoEaEvMxwF4kIb0SSnfLmVwDJth4HWP8zqxflqHxf/6t0L6b830+AymkUCalcdPoy1zD6gp8XIfn/hZUFW5/G/q7N0yQk02eeEo8rC2TwVgworSjEWNwW4MxXby8GxRLld2FekImwPrUzaDYUnwjXyUcEOneNU9dIHfJ9YA9k/fF05ndoHJiVb/MkQ3xivRxk" />-->

    <!--<add key="DataFilePath" value="D:\Project\20201229_콘웰_삼성바이오로직스_EquipmentMiddlewareInterface\11. 소스\DataSpider\bin\Debug\Data"/>-->
    <!--<add key="DataFilePath" value="D:\Project\20201229_콘웰_삼성바이오로직스_EquipmentMiddlewareInterface\20. SVN\02.Source\EXE\DataSpider.PC01.PT\Data"/>-->
    <add key="PI_SERVER" value="192.168.0.111"/>
    <add key="PI_DB" value="Database1"/>
    <add key="PI_USER" value="Administrator"/>
    <add key="PI_PWD" value="P@ssw0rd"/>

    <add key="DataFilePath" value="..\DataSpider.PC01.PT\Data" />

    <add key="DB_IP" value="127.0.0.1" />
    <add key="EQUIP_TYPE" value="01" />
    <add key="LOG_PATH" value=".\LOG\" />
    <add key="LOG_SAVE_DAYS" value="90" /> 
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.11.0" newVersion="5.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Connections.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.11.0" newVersion="5.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.8.0" newVersion="2.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.ObjectPool" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.11.0" newVersion="5.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.EnvironmentVariables" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Server.Kestrel.Core" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Hosting" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.7.0" newVersion="2.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Server.Kestrel" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
