<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>

		<!-- Data Source=127.0.0.1,1433;Initial Catalog=DataSpider;User ID=SBLADMIN;Password=SBLADMIN#01; -->
		<!--<add key="SQL_Connectionstring" value="33kYPWJ9afkjT3hTq/uRxhcy9dRL6RV84lagLEoRqCm6xhXpJ/dWvA38nCfxwpxxZIPappceU24D4KxQhm99eLDHO8p0yRhD5BuH2eiBBMFQV+qeeNUl11/XusPPsy/DDqI9/epha1xJC0gnVVycFUPYC4U1gVhOf/ZHWjWOiLwnxI8db110OQDSVQcja5NlPe/CQPdOri7B0Ci1xbJye2DvjuLgT6ekN+F1LGed0iQR0ansdAdDwm5vV0/Ffx/+"/>-->

		<!--192.168.20.229 DataSpider-->
      <add key="SQL_Connectionstring"  value="33kYPWJ9afkjT3hTq/uRxipHADa0BxIUxfznN6czOrn1RAS79K3Uruo4ChAAtR5TCl0fzwUB6MF2nPkcpoRKRgHGE41fvHo2Xrry8AhOhqBLhEpR/ht85XTmOGVEUuciu8qc9mMobAnQK+tT2RHpGcafRAiE9MTj+1vv7tDkYzI5ZZUh1M1sGZrZVECnq5pMmUOqHc/jzCWGi/0lPBJCLbCIRWWZogbPMGV3rZreCQqND9/6rN51EQ5jvA5L6f/kAKZ8hNsOUo333As03aeLzdMppX9mZLWV2h9KYr6N8a/ru3l/jvUL1obqVJ2102l6"/>

      <!--192.168.0.148 DataSpider-->
      <!--<add key="SQL_Connectionstring" value="33kYPWJ9afkjT3hTq/uRxipHADa0BxIUxfznN6czOrnTczZZbcJx2CLWZ5OgFvAPD+yujkAUmEcgQ7XA5XejcvaDQ632HIm8WAgR9i3R7QDN4fGR9aiqSyxu44F5vj/MsVDrBzA36HD3ZfwqjTaHGfHFn1BsEyK4cRSaA7zxbXDDiIr1Wil3wjkH2weGn2eclE4jzmBFwWXna0uBgjQrC14whIp61/Njx4aKnBfpSJEQujv1wEFDeokswk/DVuWYWvXCLDw18JEcJ8H9+Gjhe4vt7nZiMnOW0bdD3djKOC/jzZ7jbFeztuTNi5ejs+jy"/>-->

      <!--192.167.20.229  DataSpider-->  
      <!--<add key="SQL_Connectionstring" value="33kYPWJ9afkjT3hTq/uRxipHADa0BxIUxfznN6czOrn1RAS79K3Uruo4ChAAtR5TCl0fzwUB6MF2nPkcpoRKRgHGE41fvHo2Xrry8AhOhqBLhEpR/ht85XTmOGVEUuciu8qc9mMobAnQK+tT2RHpGcafRAiE9MTj+1vv7tDkYzI5ZZUh1M1sGZrZVECnq5pMmUOqHc/jzCWGi/0lPBJCLbCIRWWZogbPMGV3rZreCQqND9/6rN51EQ5jvA5L6f/kAKZ8hNsOUo333As03aeLzdMppX9mZLWV2h9KYr6N8a/ru3l/jvUL1obqVJ2102l6" />-->   
  </appSettings>

</configuration>